<div>
    Hello World (Angular) - {{title}}    
</div>

<div>
    Programmer : {{name}}        
</div>

<div>
    Length : {{name.length}}
</div>

<div>
    Uppercase : {{name.toUpperCase()}}
</div>

<div>
    Sum : {{5 + 5}}
</div>

<div>
    {{ SayHi() }}
</div>

<!-- property binding  -->
<input [id]="myId" type="text" value="Testing"> 

<!-- class binding  -->
<h4 [class]="successClass">Success Class</h4>
<h4 class="text-italic" [class]="dangerClass">Danger Class</h4>
<h4 [ngClass]="[italicClass,warningClass]">Multiple Class ng-class</h4>
<h4 [ngClass]="conditionClass">Condition Class</h4>


<!-- style binding  -->
<h4 [style.color]="'green'">Style Binding 1</h4>
<h4 [style.color]="hasError ? 'red' : 'green'">Style Binding 2</h4> <!-- Condition  -->
<h4 [ngStyle]="styleClass">Style Binding 3</h4> <!-- Style Binding ngStyle  -->

<!-- event binding  -->
<div #clickId>{{clickVar}}</div>
<button (click)="clickClass()">Click Me!</button> <!-- clickId.innerHTML  -->

<!-- template reference variables  -->
<div>
    <input #textInput [(ngModel)]="messageValue" type="text">
    <button (click)="logMessage(textInput.value)">Log Message</button> 
</div>

<div>{{messageValue}}</div>

<!-- ngIf Condition  -->
<div *ngIf ="ifCondition; then thenBlock; else elseBlock">

</div>

<ng-template #thenBlock>
    <h2 [class]="successClass">This is thenBlock</h2>
</ng-template>

<ng-template #elseBlock>
    <h2 [class]="dangerClass">This is elseBlock</h2>
</ng-template>

<!-- ngSwitch Case Condition  -->
<div [ngSwitch]="switchCase">
    <div *ngSwitchCase="'green'" [class]="successClass">Success</div>
    <div *ngSwitchCase="'red'" [class]="dangerClass">Danger</div>
    <div *ngSwitchDefault [class]="infoClass">Default</div>
</div>

<!-- ngFor Case Condition combine with ngIf condition  -->
<div *ngFor="let color of colors; even as e; odd as o; first as f; last as l">    
    <!-- <h4>{{l}} {{color}}</h4> -->

    <ul *ngIf="e == false; then thenBlock; else elseBlock">    
    </ul>
    
    <ng-template #thenBlock>
        <li>{{color}} is even</li>
    </ng-template>
    
    <ng-template #elseBlock>
        <li>{{color}} is odd</li>
    </ng-template>
</div>

<!-- Component Interaction  -->
<app-test (childEvent)="childMessage=$event" [parentData]="ParentInteraction"></app-test>

<div>
    {{childMessage}}    
</div>

<!-- Pipes  -->
<h4>{{pipeVar1 | lowercase}} -- Lowercase</h4>
<h4>{{pipeVar1 | uppercase}} -- Uppercase</h4>
<h4>{{pipeVar3 | titlecase}} -- Titlecase</h4>
<h4>{{pipeVar1 | slice:0:3}} -- slice (substring)</h4>
<h4>{{pipeVar4 | json}} -- json</h4>
<h4>{{pipeVar5 | number:'1.2-3'}} -- simplify</h4>
<h4>{{pipeVar5 | number:'3.4-5'}} -- simplify(2)</h4>
<h4>{{pipeVar5 | number:'5.1-2'}} -- simplify(3)</h4>
<h4>{{pipeVar6 | percent}} -- percentage)</h4>
<h4>{{pipeVar6 | currency}} -- currency (default)</h4>
<h4>{{pipeVar6 | currency:'GBP'}} -- currency (custom)</h4>
<h4>{{pipeVar6 | currency:'PHP':'₱'}} -- currency (custom2)</h4>
<h4>{{pipeDate | date:'short'}}</h4>
<h4>{{pipeDate | date:'shortDate'}}</h4>
<h4>{{pipeDate | date:'shortTime'}}</h4>
<h4>{{pipeDate | date:'MM/dd/yyyy'}}</h4>

<!-- Services  -->